<h1> All Contacts</h1>


<br>

<% @contacts.each do |contact| %>
<h2><a href="/contacts/<%= contact.id %>"><%= contact.first_name %></a></h2>
<h2><a href="/contact/<%= contact.id %>"<%= contact.last_name %></a></h2>
<h2><a href="/contact/<%= contact.id %>"<%= contact.email %></a></h2>
<h2><a href="/contact/<%= contact.id %>"<%= contact.phone %></a></h2>
<br>
<% end %>